<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <a href="/">Home</a>
    <form action="#" method = "POST">
        <label>Student Name</label>
        <input type="text" name="name" placeholder="Enter Your name">
        <br>
        <label>Phone No</label>
        <input type="integer" name="phone" placeholder="Enter Your Phone no">
        <br>
        <label>Address</label>
        <input type="integer" name="salary" placeholder="Enter Your Address">
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>