<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
</head>
<body>
    <a href="/">Home</a>
    <form action="#" method = "POST">
        <label>Student Name</label>
        <input type="text" name="name" value="{{Data.std_name}}">
        <br>
        <label>Phone No</label>
        <input type="integer" name="phone" value="{{Data.std_phoneNo}}">
        <br>
        <label>Address</label>
        <input type="integer" name="address" value="{{Data.std_address}}">
        <br>
        <button type="submit">Update</button>
    </form>
</body>
</html>